/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.material-icons.orange600 { color: #FB8C00; }

body{
	background: grey;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

#box{
	margin-top: 30px;
	margin-bottom: 30px;
}

#formulario{
	align: center;
	padding-top: 10px;
	background-color: #DDDDDD;
	box-shadow: 5px 5px 5px #696969;
	border: solid 4px #66CDAA;
	border-radius: 25px 0px 25px 0px;
	width: 600px;
	padding: 10px;
}

#formulario tr{
	padding: 5px;
	margin-top: 10px;
	border-color: transparent;
}

#formulario td{
	padding: 5px;
	margin-top: 10px;
	border-color: transparent;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

#formulario input{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	border: none;
	width: 405px;
	border-radius: 50px;
	
}

#formulario select{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	border: none;
	width: auto;
	border-radius: 50px;
	
}

#formulario button{
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	border-radius: 50px;
}
